name: Release hybrid

on:
  pull_request:
    branches:
      - main
    types: [ closed ]
jobs:
  release_flutter:
    if: github.head_ref == 'prepare_release_native' && github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - uses: actions/checkout@v4
        with:
          ref: prepare_release_native
          token: ${{steps.generate_token.outputs.token}}
      - uses: KaleyraVideo/VideoFlutterPlugin/.github/workflows/release.yml@main
        with:
          release_kind: ${{ contains(github.event.pull_request.labels.*.name, 'minor') && 'minor' || 'patch' }}
          secrets: inherit

  #  release_cordova:
  #    if: github.head_ref == 'prepare_release_native' && github.event.pull_request.merged == true
  #    runs-on: ubuntu-latest
  #    steps:
  #      - name: Generate a token
  #        id: generate_token
  #        uses: actions/create-github-app-token@v1
  #        with:
  #          app-id: ${{ secrets.APP_ID }}
  #          private-key: ${{ secrets.APP_PRIVATE_KEY }}
  #      - uses: actions/checkout@v4
  #        with:
  #          ref: prepare_release_native
  #          token: ${{steps.generate_token.outputs.token}}
  #      - uses: KaleyraVideo/VideoCordovaPlugin/.github/workflows/release.yml@main
  #        with:
  #          release_kind: ${{ contains(github.event.pull_request.labels.*.name, 'minor') && 'minor' || 'patch' }}
  #          secrets: inherit
  #
  #  release_react_native:
  #    if: github.head_ref == 'prepare_release_native' && github.event.pull_request.merged == true
  #    runs-on: ubuntu-latest
  #    steps:
  #      - name: Generate a token
  #        id: generate_token
  #        uses: actions/create-github-app-token@v1
  #        with:
  #          app-id: ${{ secrets.APP_ID }}
  #          private-key: ${{ secrets.APP_PRIVATE_KEY }}
  #      - uses: actions/checkout@v4
  #        with:
  #          ref: prepare_release_native
  #          token: ${{steps.generate_token.outputs.token}}
  #      - uses: KaleyraVideo/VideoReactNativeModule/.github/workflows/release.yml@main
  #        with:
  #          release_kind: ${{ contains(github.event.pull_request.labels.*.name, 'minor') && 'minor' || 'patch' }}
  #          secrets: inherit

  clean:
    needs: [ release_flutter ]
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: Delete pr-* branches
        uses: dawidd6/action-delete-branch@v3
        with:
          github_token: ${{steps.generate_token.outputs.token}}
          branches: update_native
