name: Release hybrid

on:
  workflow_dispatch:
    inputs:
      release_kind:
        type: choice
        description: What kind of release do you want to do?
        required: true
        options:
          -
          - patch
          - minor
          - major
  pull_request:
    branches:
      - main
    types: [ closed ]
jobs:
  release_flutter:
    if: github.head_ref == 'prepare_release_native' && github.event.pull_request.merged == true
    uses: KaleyraVideo/VideoFlutterPlugin/.github/workflows/release.yml@main
    with:
      release_kind: ${{ github.event.inputs.release_kind || contains(github.event.pull_request.labels.*.name, 'minor') && 'minor' || 'patch' }}
      secrets: inherit

  release_cordova:
      if: github.head_ref == 'prepare_release_native' && github.event.pull_request.merged == true
      uses: KaleyraVideo/VideoCordovaPlugin/.github/workflows/release.yml@main
      with:
        release_kind: ${{ github.event.inputs.release_kind || contains(github.event.pull_request.labels.*.name, 'minor') && 'minor' || 'patch' }}
        secrets: inherit
  
  release_react_native:
      if: github.head_ref == 'prepare_release_native' && github.event.pull_request.merged == true
      uses: KaleyraVideo/VideoReactNativeModule/.github/workflows/release.yml@main
      with:
        release_kind: ${{ github.event.inputs.release_kind || contains(github.event.pull_request.labels.*.name, 'minor') && 'minor' || 'patch' }}
        secrets: inherit

  clean:
    needs: [ release_flutter, release_cordova, release_react_native ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v1
        id: generate_token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - uses: dawidd6/action-delete-branch@v3
        with:
          github_token: ${{steps.generate_token.outputs.token}}
          branches: update_native
